<a href="https://colab.research.google.com/github/Shophie2906/Eurocopa_2024_Players_Analysis/blob/main/Week_1_Prep_Air's_Flow_Card.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
df = pd.read_csv('Prep_Airs_Flow_Card.csv')

In [22]:
df.head()

,Flight Details,Flow Card?,Bags Checked,Meal Type
0,2024-07-22//PA010//Tokyo-New York//Economy//2380,1,0,Egg Free
1,2024-09-28//PA008//Perth-New York//Economy//1855,0,2,Vegetarian
2,2024-04-20//PA002//New York-London//Economy//3490,1,1,Vegan
3,2024-01-23//PA010//Tokyo-New York//Premium Eco...,1,1,Vegetarian
4,2024-10-01//PA008//Perth-New York//Business Cl...,0,0,Vegetarian

In [23]:
# Delimiter is '//'
df[['Date', 'Flight Number', 'From_To', 'Class', 'Price']] = df['Flight Details'].str.split('//', expand=True)
df[['From', 'To']] = df['From_To'].str.split('-', expand=True)
df = df.drop(columns=['From_To'])

In [25]:
# Convert 'DATE' into date format
df['Date'] = pd.to_datetime(df['Date'])

In [26]:
# Convert 'Price' to a decimal value
df['Price']= pd.to_numeric(df['Price'], errors='coerce')
df['Price'] = df['Price'].round(2)

In [27]:
# Change the Flow Card field to Yes / No values instead of 1 / 0
df['Flow Card?']=pd.to_numeric(df['Flow Card?'], errors='coerce')
df['Flow Card?']= df['Flow Card?'].replace(1, 'Yes')
df['Flow Card?']= df['Flow Card?'].replace(0, 'No')

In [37]:
# Both outputs have the same data structure
new_order = ['Date', 'Flight Number', 'From', 'To', 'Class', 'Price', 'Flow Card?', 'Bags Checked', 'Meal Type']
df = df[new_order]

In [38]:
# Create two tables, one for Flow Card holders and one for non-Flow Card holders
df_yes = df[df['Flow Card?'] == 'Yes']
df_no = df[df['Flow Card?'] == 'No']

In [39]:
df_yes.head()

,Date,Flight Number,From,To,Class,Price,Flow Card?,Bags Checked,Meal Type
0,2024-07-22,PA010,Tokyo,New York,Economy,2380.0,Yes,0,Egg Free
2,2024-04-20,PA002,New York,London,Economy,3490.0,Yes,1,Vegan
3,2024-01-23,PA010,Tokyo,New York,Premium Economy,825.0,Yes,1,Vegetarian
6,2024-06-05,PA006,Tokyo,London,First Class,618.0,Yes,3,Vegan
8,2024-03-30,PA004,Perth,London,First Class,446.0,Yes,1,Nut Free

In [40]:
df_no.head()

,Date,Flight Number,From,To,Class,Price,Flow Card?,Bags Checked,Meal Type
1,2024-09-28,PA008,Perth,New York,Economy,1855.0,No,2,Vegetarian
4,2024-10-01,PA008,Perth,New York,Business Class,634.8,No,0,Vegetarian
5,2024-03-04,PA007,New York,Perth,Business Class,458.4,No,3,Nut Free
7,2024-02-25,PA010,Tokyo,New York,Premium Economy,1435.0,No,0,NaN
13,2024-03-29,PA004,Perth,London,Economy,2730.0,No,2,Vegan